/* Loew */
@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-Black.otf") format("otf"), url("/Loewfont/Loew-Black.otf") format("woff"),
    url("/Loewfont/Loew-Black.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-Bold.otf") format("otf"), url("/fonts/Loew-Bold.otf") format("woff"),
    url("/Loewfont/Loew-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-BoldItalic.otf") format("otf"), url("/Loewfont/Loew-BoldItalic.otf") format("otf"),
    url("/Loewfont/Loew-BoldItalic.otf") format("otf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-BlackItalic.otf") format("otf"),
    url("/Loewfont/Loew-BlackItalic.otf") format("otf"), url("/Loewfont/Loew-BlackItalic.otf") format("otf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-Light.otf") format("otf"), url("/Loewfont/Loew-Light.otf") format("otf"),
    url("/Loewfont/Loew-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-Italic.otf") format("otf"), url("/Loewfont/Loew-Italic.otf") format("otf"),
    url("/Loewfont/Loew-Italic.otf") format("otf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-LightItalic.otf") format("otf"),
    url("/Loewfont/Loew-LightItalic.otf") format("otf"), url("/Loewfont/Loew-LightItalic.otf") format("otf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-Regular.otf") format("otf"), url("/Loewfont/Loew-Regular.otf") format("otf"),
    url("/Loewfont/Loew-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-Medium.otf") format("otf"), url("/Loewfont/Loew-Medium.otf") format("otf"),
    url("/Loewfont/Loew-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-MediumItalic.otf") format("otf"),
    url("/Loewfont/Loew-MediumItalic.otf") format("otf"), url("/Loewfont/Loew-MediumItalic.otf") format("otf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-Thin.otf") format("otf"), url("/Loewfont/Loew-Thin.otf") format("otf"),
    url("/Loewfont/Loew-Thin.otf") format("otf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/Loewfont/Loew-ThinItalic.otf") format("otf"), url("/Loewfont/Loew-ThinItalic.otf") format("otf"),
    url("/Loewfont/Loew-ThinItalic.otf") format("otf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cal Sans";
  src: url("/cal.ttf");
}
